
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
  height: 190px;
  width: 190px ;
  display: flex;
  flex-direction: column;
  border: outset;
  border-color: red;
  border-radius: 5%;
  padding: 10px;
  margin: 5 5px;
  }
.card:hover{
  border-color: blue;
  border-radius: 10%;
}