img{
  width:50;
  height:80;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: red;
  padding: 10px;
  }